.mbox{
    border: 5px solid goldenrod;
width: fit-content;
height: fit-content;
padding: 2%;
margin : 10% 0 0 35%;


}
.stats
{
   background-color: skyblue;
    color: red;
    font-weight: 800;
}

.nav
{
background-color:blue;
color: red;
font-weight: 1000;
width: 100%;
font-size: 1.3em;
text-align: center;
display: inline-block;
}
.options{
 margin : 7.5% 0 0 0;
 color: yellow;
 font-weight: 1000;
 width:100%;
 text-align: center;
 position: absolute;
}
